#myDIV {
    width: 1127px;
    height: 190px;
    outline: 15px solid rgba(230, 32, 148, 0.712);
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    50% {outline-color: rgb(92, 10, 114);}
  }
  #div{
    animation: myothermove 5s infinite;
  }
  
  @keyframes myothermove {
    50% {word-spacing: 50px;}
  }